name: Build and Artifacts

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build-and-upload:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'
          cache: 'npm'

      - name: Install dependencies
        run: npm install

      - name: Build application
        run: npm run build # This usually generates a 'dist' or 'build' folder

      - name: Upload Build Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: web-app-bundle
          # Point this to your build output folder (e.g., dist, build, or out)
          path: dist/
          retention-days: 5