name: Publish to GitHub Pages

on:
  workflow_dispatch: # Allows manual triggering
  workflow_run:
    workflows: ["Build and Artifacts"]
    types: [completed]
    branches: [main]

jobs:
  deploy:
    runs-on: ubuntu-latest
    if: ${{ github.event_name == 'workflow_dispatch' || github.event.workflow_run.conclusion == 'success' }}
    permissions:
      contents: read
      pages: write
      id-token: write

    steps:
      - name: Download Build Artifact
        uses: actions/download-artifact@v4
        with:
          # Match the name used in your Build workflow
          name: web-app-bundle-ubuntu-latest-${{ github.event.workflow_run.id || github.run_id }}
          path: public

      - name: Setup Pages
        uses: actions/configure-pages@v4

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: public

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4